.footer-content{
  padding-inline: 4rem;
  padding-block-end:8rem ;
  background: var(--black);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-social-media p{
  font: var(--caption);
  color:var(--grey);
  margin: 0;
}

.footer-social-media-icons{
  padding-block-start: 1.5rem;

}
.footer-social-media-icons img{
  cursor: pointer;

}
.footer-social-media-icons img:hover{
  transform: scale(1.1);
}


.footer-column{
  display: flex;
  flex-direction: column;
}

.footer-column p{
 font: var(--button);
 color: var(--white);
 margin: 0;
 padding-block-end: .5rem;

}
.footer-column span{
 font: var(--body1-regular);
 color: var(--grey);
 cursor: pointer;
}

@media screen and (max-width:1000px){
  .footer-content{
    display: flex;
    flex-direction: column;
    padding-inline-start: 1.25rem;
  }

  .footer-column{
    padding-block-end: 4rem;
  }
  .footer-social-media-icons{
    padding-block-end: 4rem;
  
  }
}